asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.5
click==6.7
cryptography==2.2.2
datefinder==0.6.1
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
pandas==0.22.0
paramiko==2.10.1
pyasn1==0.4.2
pycparser==2.18
pymongo==3.6.1
PyNaCl==1.2.1
python-dateutil==2.7.2
pytz==2018.4
regex==2016.1.10
scikit-learn==0.19.1
selenium==3.11.0
six==1.11.0
Werkzeug==0.14.1
