<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets for {{name}}</title>
</head>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>
<body>

<h1 style="font-size:130%; font-family:Verdana, sans-serif;">Tweets for {{name}}</h1>

<p style="font-size:80%; font-family:Verdana, sans-serif;">Median sentiment score: {{median_score}} (-1.0 negative to 1.0 positive)

<ul>

    {%for score in scores%}
    <li style="list-style:square; font-size:70%; font-family:Verdana, sans-serif; color:{{colors[loop.index0]}}">
        {{score}}: <a style="color:{{colors[loop.index0]}}" href={{urls[loop.index0]}}>{{text[loop.index0]}}</a>
    </li>
    {%endfor%}

</ul>

</body>
</html>