<!-- Containers are the basic layout element in Bootstrap and required when using the default grid system. -->
<div class="container">
    <h2>Examples</h2>
    
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"> <!-- Include everything under the button -->
            <li><a href="examples">DropDown</a></li>
            <li><a href="media_example">Media Object</a></li>
            <li><a href="progress_example">Progress Bars</a></li>
            <li><a href="plotly_example">Plotly Map</a></li>
            <li><a href="google_example">Google Wordtree</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</div> <!-- /container -->
