<div class="navbar navbar-inverse" role="navigation">
    <!-- container-fluid : full width container, spanning the entire width.-->
    <div class="containder-fluid"> 
        <div class ="navbar-header">
            <!-- title on the navbar -->
            <a class="navbar-brand" href="/"> Homepage </a> 
            <!-- removed href's from Login and Register -->
            <a class="navbar-brand"> Login </a> 
            <a class="navbar-brand"> Register </a>
            <a class="navbar-brand" href = "fyp_example"> Example </a>
        </div>  
    </div>
</div>